# Managed by Ansible role: restic_backup
[Unit]
Description=Restic backup verify timer ({{ restic_backup_job_name }})

[Timer]
OnCalendar={{ restic_backup_verify_timer_schedule }}
Persistent=true

[Install]
WantedBy=timers.target
