---
# Logcheck sends emails to root, which we've aliased
# to our email address
# $ sudo cat /etc/logcheck/logcheck.conf
# Print recent logs to stdout with and don't update the pointer
# $ sudo -u logcheck logcheck -o -t
# Send email to root user (and therefore us) with:
# $ sudo -u logcheck logcheck
# To add a test log that will flag
# $ logger -p kern.error This is a test
#
# By default logcheck will run via cron (see /etc/cron.d/logcheck):
# - every hour
# - on reboot

- name: "Install logcheck"
  ansible.builtin.apt:
    name: "logcheck"
    update_cache: true
    state: "present"

- name: "Add logcheck ingore rules"
  loop:
    - "ansible"
    - "collectd"
    - "containerd"
    - "docker"
    - "dokku"
    - "general"
    - "gpg"
    - "kernel"
    - "nginx"
    - "packagekit"
    - "polkit"
    - "postfix"
    - "ssh"
    - "systemd"
  ansible.builtin.template:
    src: "files/{{ item }}"
    dest: "/etc/logcheck/ignore.d.server/{{ item }}"
    mode: "0644"

- name: "Run and test"
  ansible.builtin.command: >
    su -s /bin/bash -c "/usr/sbin/logcheck" logcheck
  changed_when: false
