# Managed by Ansible role: immich_restic_backup_verify
[Unit]
Description=Immich restic backup verify timer

[Timer]
OnCalendar={{ immich_restic_backup_verify_timer_schedule }}
Persistent=true

[Install]
WantedBy=timers.target
