# Managed by Ansible role: postgres_restic_backup_verify
[Unit]
Description=Postgres restic backup verify timer

[Timer]
OnCalendar={{ postgres_restic_backup_verify_timer_schedule }}
Persistent=true

[Install]
WantedBy=timers.target
