{% for port in system_harden_ssh_ports %}
Port {{ port }}
{% endfor %}
PermitRootLogin {{ system_harden_ssh_permit_root_login }}
PasswordAuthentication {{ system_harden_ssh_permit_password_authentication }}
KbdInteractiveAuthentication no
UsePAM yes
X11Forwarding no
PrintMotd no
AcceptEnv LANG LC_* COLORTERM NO_COLOR
Subsystem       sftp    /usr/lib/openssh/sftp-server
MaxStartups {{ system_harden_ssh_max_startups }}
