api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
    asDefault: true

providers:
  file:
    filename: {{ traefik_install_config_dir }}/routes.yml
    watch: true
{% if traefik_install_tls_terminated_routes %}

certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ traefik_install_acme_email }}
      storage: {{ traefik_install_config_dir }}/acme.json
      httpChallenge:
        entryPoint: web
{% endif %}
