services:
  cache-server:
    image: "ghcr.io/falcondev-oss/github-actions-cache-server:{{ github_actions_self_hosted_runner_install_cache_server_version }}"
    container_name: "gha-cache-server"
    restart: "unless-stopped"
    ports:
      - "0.0.0.0:{{ github_actions_self_hosted_runner_install_cache_port }}:3000"
    environment:
      API_BASE_URL: "http://localhost:{{ github_actions_self_hosted_runner_install_cache_port }}"
      STORAGE_DRIVER: "filesystem"
      STORAGE_FILESYSTEM_PATH: "/data/cache"
      DB_DRIVER: "sqlite"
      DB_SQLITE_PATH: "/data/cache-server.db"
      CACHE_CLEANUP_OLDER_THAN_DAYS: "{{ github_actions_self_hosted_runner_install_cache_cleanup_older_than_days }}"
    volumes:
      - "{{ github_actions_self_hosted_runner_install_cache_dir }}/cache:/data"
