apiVersion: 1

contactPoints:
  - orgId: 1
    name: "email"
    receivers:
      - uid: "email-receiver"
        type: "email"
        settings:
          addresses: "{{ monitoring_stack_install_alert_email_to }}"
