---
- name: Validate required variables
  ansible.builtin.assert:
    that:
      - user_add_to_groups_username is defined
      - user_add_to_groups_groupnames is defined
    msg: "Missing a required variable"

- name: Ensure groups exist
  ansible.builtin.group:
    name: "{{ item }}"
    state: present
  loop: "{{ user_add_to_groups_groupnames }}"

- name: Add user to groups
  ansible.builtin.user:
    name: "{{ user_add_to_groups_username }}"
    groups: "{{ user_add_to_groups_groupnames }}"
    append: true
    state: present
